:root {
  --card-bg: rgba(255, 0, 0, 0.1);
  --card-bg-p: rgba(255, 0, 0, 0.3);
  --card-bg-s: rgba(255, 0, 0, 0.1);
  /* background: rgba(255, 0, 0, 0.1); */
  /* background: rgba(0, 255, 0, 0.1); */
}

body {
  background: #f9f9fa;
}

.App {
  text-align: center;
}

.loading {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: ease-in;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.1) 100%
  );

  background-size: 800px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1200px;
  }
  100% {
    background-position: 1200px 0;
  }
}

.loading::after {
  /* animation: App-logo-spin infinite 1s linear;
  font-size: 1rem;
  font-size: 2rem;
  content:"🌀" */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flash-bg {
  0% {
    background-color: yellow;
  }

  100% {
    background-color: inherit;
  }
}

.flash {
  animation-name: flash-bg;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
